<%= form_for(strip) do |f| %>
  <% if strip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strip.errors.count, "error") %> prohibited this strip from being saved:</h2>

      <ul>
      <% strip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :catch %>
    <%= f.text_field :catch %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
