<% @title=@strip.catch %>

<% content_for :head do %>
	<meta property="og:description" content="<%= @strip.title %>">
<% end %>

<p class="lead" style="text-align: center;font-weight: bold;margin-bottom:5px;font-size: 2em;">
	<%= content_tag(:i,"",class: "fa fa-user-secret") %>
	Indiscrétions
</p>
<hr class="line_main" style="margin: 5px 0px;">
<div class="panel-group" id="accordion" role="tablist">
	<div class="panel panel-default" id="panel-strip">
		<a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= @strip.id %>" >
		    <div class="panel-heading maincolorbg" role="tab" id="headingOne" onclick="$(this).toggleClass('maincolorbg')">
		      <h4 class="panel-title">
		          <%= @strip.title %>
		      </h4>
		    </div>
	    </a>
    <div id="collapse_<%= @strip.id %>" class="panel-collapse collapse in" role="tabpanel">
      <div class="panel-body">
        <%= raw(@strip.content) %>
        <%= render "application/strip_footer" %>
      </div>
    </div>
  </div>
	<% @strips.reject{|s| s.id == @strip.id}.each do |s| %>
	  <div class="panel panel-default" id="panel-strip">
	    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= s.id %>" >
		    <div class="panel-heading" role="tab" id="heading_<%= s.id %>" onclick="$(this).toggleClass('maincolorbg')" >
		      <h4 class="panel-title">
		          <%= s.title %>
		      </h4>
		    </div>
	    </a>
	    <div id="collapse_<%= s.id %>" class="panel-collapse collapse" role="tabpanel">
	      <div class="panel-body">
	        <%= raw(s.content) %>
	        <%= render "application/strip_footer" %>
	      </div>
	    </div>
	  </div>
  <% end %>
</div>