<%= form_tag({controller: "blog_posts", action: "comment_collect", method: "put", class: "nifty_form"},class: "collapse", id: "comment_form", remote: true) %>
	<div id ="comment_howto">
		<p>Vous pouvez aussi nous écrire à <span class="maincolor"><b>comment[at]nouslescac.fr</b></span><br>
		</p>
	</div>
	
	<%= hidden_field :blog_post, :id %>

	<div class="field">
		<%= label_tag "Nom/Pseudo" %><br>
		<%= text_field_tag :from,"", required: :true   %>
	</div> 

	<div class="field">
		<%= label_tag "Votre email (facultatif)" %><br>
		<%= email_field_tag :email %>
	</div> 

	<div class="field">
		<%= label_tag "Votre commentaire" %><br>
		<%= text_area_tag :content,"", required: :true  %>
	</div> 

	<div class="actions">
		<%= submit_tag "Transmettre", class:"btn btn-xs",id: "comment_form_send" %>
	</div>
</form>