<%= form_for(blog_post, url: {controller: "blog_posts", action: "update"}) do |f| %>
  <% if blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, style: "width:100%;max-width:100%;" %>
  </div>

  <div class="field">
    <%= f.label :catchphrase %>
    <%= f.text_field :catchphrase, style: "width:100%;max-width:100%;" %>
  </div>

  <div class="field">
    <%= f.label :img_path %>
    <%= f.text_field :img_path, style: "width:100%;max-width:100%;" %>
  </div>

  <div class="field">
    <%= f.label :content%>
    <%= f.text_area :content, style: "width:100%;max-width:100%;height:300px;" %>
  </div>
  
  <div>
    <%= f.label :author_id, "Auteur" %>
    <%= f.collection_select :author_id, Author.all ,:id, :name, prompt: true %>
  </div>

  <div>
    <%= f.label :tags %>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :label, pormpt: true %>
  </div>

   <div>
    <%= f.label :live %>
    <%= f.check_box :live %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
