<div class="PostArea">
<% @blog_posts.sort.each do |blog_post| %>
  <div class="col-sm-6">
    <div class="thumbnail">
    <div class="thumbnail-header">
      <a href="<%= blog_post_path(blog_post.id) %>">
        <img src="<%= image_path blog_post.img_path unless blog_post.img_path == nil %>" class="img-responsive"/>
      </a>
    </div>
      <div class="caption">
        <p class="lead"><%= blog_post.catchphrase %></p>
        <div class="row">
          <div class="col-xs-8">
            <% blog_post.tags.each do |tag| %>
              <a href="<%= blog_posts_path(filter: tag.label) %>"><span class="badge" style="background-color: var(--color_tag_<%= tag.id %>)"><%= tag.label %></span></a>
              <% end %>
          </div>
          <div class="col-xs-4 post_date text-right test">
            <%= blog_post.created_at.strftime("%d-%b-%y") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>