<div class="PostArea">
<% @blog_posts.order('created_at DESC, updated_at DESC').each do |blog_post| %>
  <div class="col-md-6  col-sm-12 col-xs-12">
    <div class="thumbnail">
    <div class="thumbnail-header">
      <a href="<%= blog_post_path(blog_post.id) %>">
        <img src="<%= image_path blog_post.img_path unless blog_post.img_path == nil %>" class="img-responsive"/>
      </a>
    </div>
      <div class="caption">
        <a class="post_author" href="<%= blog_posts_path(filter_author: blog_post.author.name) %>">Par <%= blog_post.author.name %></a>
        <p class="lead" style="height:60px;"><%= blog_post.catchphrase %></p>
        <div class="row">
          <div class="col-xs-8">
            <% blog_post.tags.each do |tag| %>
              <a href="<%= blog_posts_path(filter_tag: tag.label) %>"><span class="badge" style="background-color: var(--color_tag_<%= tag.id %>)"><%= tag.label %></span></a>
              <% end %>
          </div>
          <div class="col-xs-4 post_date text-right test">
            <%= blog_post.created_at.strftime("%d-%b-%y") %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>