<% @title=@blog_post.title %>

<% content_for :head do %>
	<meta property="og:description" content="<%= @blog_post.catchphrase %>">
<% end %>

<!-- The post -->
<div class="PostArea">
	<!-- Sidebar -->
	<div class="col-xs-3" id="blog_post_sidebar">

		<!-- post image -->
	  	<img src="<%= image_path @blog_post.img_path unless @blog_post.img_path == nil %>" class="img-responsive"/>

	  	<!-- post author, creation, update, tags -->
	  	<p class="post_author" style="margin-top: 2px;background-color: #F8F9FB;padding: 10px 5px;font-size: inherit;">
	  		Par <%= link_to @blog_post.author.name, blog_posts_path(filter_author: @blog_post.author.name) %><br>
	  		Créé le : <%= @blog_post.created_at.strftime("%d-%b-%y") %> <br>
	  		Dernier update le : <%= @blog_post.updated_at.strftime("%d-%b-%y") %>
	  		<br>
	  		Tags: 
	  		<% @blog_post.tags.each do |tag| %>
	          <a href="<%= blog_posts_path(filter_tag: tag.label) %>"><span class="badge badge_show badge_tag_<%= tag.id %> "><%= tag.label %></span></a>
	         <% end %>
	  	</p>

		<!-- post song if it exists -->
		<% if @blog_post.songs.exists? %>
			<div style="text-align: center;">
				<p style="margin: 20px 0px 5px 0px;font-weight: bold;"><i class="fa fa-headphones"></i> Pour lire en musique<br/>
				<hr class="line_main" style="margin: 5px 0px;"/>
				</p>
				<% @blog_post.songs.each do |song| %>
					<iframe width="100%" height="315" src="<%= song.link %>" frameborder="0"></iframe>
				<% end %>
			</div>
		<% end %>

  		<!-- contact form -->
  		<p style="margin: 20px 0px 5px 0px;font-weight: bold;text-align:center;"><i class="fa fa-comments"></i> Pour interragir<br/>
		<hr class="line_main" style="margin: 5px 0px;"/>
		</p>
	  	<%= content_tag(:div,"",id:"comment_notice") %>
	  	<%= render "comment_collect" %>
		
		<!-- socials & comment -->	
		<div class="socials">

			<a class="btn btn-social-icon btn-twitter" onclick="javascript:window.open('https://twitter.com/share?text=&amp;url=<%= request.original_url %>','Twitter-dialog','width=626,height=436'); return false;" >
    			<span class="fa fa-twitter"></span>
  			</a>
  			<a class="btn btn-social-icon btn-facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('<%= request.original_url %>'),'facebook-share-dialog','width=626,height=436'); return false;">
    			<span class="fa fa-facebook"></span>
  			</a>
  			<a class="btn btn-social-icon btn-linkedin" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url %>&title=<%= @blog_post.title %>&source=http://www.auditexpresso.net','linkedin-share-dialog','width=626,height=436'); return false;">
    			<span class="fa fa-linkedin"></span> 
  			</a>
			<a class="btn btn-social btn-pinterest" data-toggle="collapse" data-target="#comment_form">
    			<span class="fa fa-comments"></span> Commenter
  			</a>
		</div>	
		
	</div>

	<!-- post html -->
	<div class="col-xs-9" style="padding: 0px 15px;font-size: 1.2rem;" id="blog_post_text">
		<div id="post_content"> <%= raw(@blog_post.content) %> </div>
		<%= render "application/post_footer" %>
	</div>


</div>


