<% @title=@blog_post.title %>

<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- The post -->
<div class="PostArea">
	<!-- Sidebar -->
	<div class="col-xs-3" id="blog_post_sidebar">
		<!-- post image -->
	  	<img src="<%= image_path @blog_post.img_path unless @blog_post.img_path == nil %>" class="img-responsive"/>

	  	<!-- post author, creation, update, tags -->
	  	<p class="post_author" style="margin-top: 2px;background-color: #F8F9FB;padding: 10px 5px;font-size: inherit;">
	  		Par <%= link_to @blog_post.author.name, blog_posts_path(filter_author: @blog_post.author.name) %><br>
	  		Créé le : <%= @blog_post.created_at.strftime("%d-%b-%y") %> <br>
	  		Dernier update le : <%= @blog_post.updated_at.strftime("%d-%b-%y") %>
	  		<br>
	  		Tags: 
	  		<% @blog_post.tags.each do |tag| %>
	          <a href="<%= blog_posts_path(filter_tag: tag.label) %>"><span class="badge badge_show badge_tag_<%= tag.id %> "><%= tag.label %></span></a>
	         <% end %>
	  	</p>

		<!-- Soutien -->
		<div style="text-align: center;margin-top:15px;">
			<p style="margin: 5px 0px 5px 0px;font-weight: bold;"><i class="fa fa-heart" style="color:#FE4E00"></i> Soutenir ce blog<br/>
			<hr style="margin:5px 0px;border: 1.5px solid #FE4E00;"/>
			</p>
			Cet article vous a <span style="color:#FE4E00;font-weight: bold;">informé / fait réfléchir / rire</span> ? 30' pour nous soutenir !
		</div>
		<button class="btn btn-xs" id="button_donate" data-toggle="modal" data-target="#video_modal">
			<%= content_tag(:i,"",class:"fa fa-play-circle", style:"font-size:1.2em;") %>
			Donner 30 secondes
		</button>


		<!-- post song if it exists -->
		<% if @blog_post.songs.exists? %>
			<div style="text-align: center;">
				<p style="margin: 20px 0px 5px 0px;font-weight: bold;"><i class="fa fa-headphones"></i> Pour lire en musique<br/>
				<hr class="line_main" style="margin: 5px 0px;"/>
				</p>
				<% @blog_post.songs.each do |song| %>
					<iframe width="100%" height="315" src="<%= song.link %>" frameborder="0"></iframe>
				<% end %>
			</div>
		<% end %>

  		<!-- contact form -->
  		<p style="margin: 20px 0px 5px 0px;font-weight: bold;text-align:center;"><i class="fa fa-comments"></i> Pour interragir<br/>
		<hr class="line_main" style="margin: 5px 0px;"/>
		</p>
	  	<%= content_tag(:div,"",id:"comment_notice") %>
	  	<%= render "comment_collect" %>
		
		<!-- socials & comment -->	
		<div class="socials">
			<a class="btn btn-social-icon btn-twitter">
    			<span class="fa fa-twitter"></span>
  			</a>
  			<a class="btn btn-social-icon btn-facebook">
    			<span class="fa fa-facebook"></span>
  			</a>
  			<a class="btn btn-social-icon btn-linkedin">
    			<span class="fa fa-linkedin"></span> 
  			</a>
			<a class="btn btn-social btn-pinterest" data-toggle="collapse" data-target="#comment_form">
    			<span class="fa fa-comments"></span> Commenter
  			</a>
		</div>	
		
	</div>

	<!-- post html -->
	<div class="col-xs-9" style="padding: 15px;font-size: 1.2rem;" id="blog_post_text">
		<p><%= raw(@blog_post.content) %></p>
	</div>

	

</div>


