<% @title=@blog_post.title %>

<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="col-xs-4 PostArea">
  	<img src="<%= image_path @blog_post.img_path unless @blog_post.img_path == nil %>" class="img-responsive"/>
  	<p class="post_author" style="margin-top: 10px;">
  		Par <%= link_to @blog_post.author.name, blog_posts_path(filter_author: @blog_post.author.name) %><br>
  		Créé le : <%= @blog_post.created_at.strftime("%d-%b-%y") %> <br>
  		Dernier update le : <%= @blog_post.updated_at.strftime("%d-%b-%y") %>
  		<br>
  		Tags: 
  		<% @blog_post.tags.each do |tag| %>
          <a href="<%= blog_posts_path(filter_tag: tag.label) %>"><span class="badge" style="background-color: var(--color_tag_<%= tag.id %>)"><%= tag.label %></span></a>
         <% end %>
  	</p>
	
	<p style="margin: 0px;font-weight: bold;text-align: center;"><i class="fa fa-comments"></i> Pour réagir<br/>
		<hr style="border: 1.5px solid var(--maincolor);margin:5px 0px;"/>
	</p>
	<div class="fb-share-button" data-href="<%= blog_post_url(@blog_post.id) %>" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>

	<% if @blog_post.songs.exists? %>
		<div style="text-align: center;">
			<p style="margin: 0px;font-weight: bold;"><i class="fa fa-headphones"></i> Pour lire en musique<br/>
			<hr style="border: 1.5px solid var(--maincolor);margin:5px 0px;"/>
			</p>
			<% @blog_post.songs.each do |song| %>
				<iframe width="100%" height="315" src="<%= song.link %>" frameborder="0"></iframe>
			<% end %>
		</div>
	<% end %>

	<% if @blog_post.furthers.exists? %>
		<div style="text-align: center;">
			<p style="margin: 0px;margin-top: 10px;font-weight: bold;"><i class="fa fa-rocket"></i> Pour aller plus loin<br/>
				<hr style="border: 1.5px solid var(--maincolor);margin:5px 0px;"/>
			</p>
		<ul style="text-align: left">
			<% @blog_post.furthers.each do |fur| %>
				<li><%= link_to fur.label, fur.link %></li>
			<% end %>
		</ul>
		</div>
	<% end %>

	<% if @blog_post.references.exists? %>
		<div style="text-align: center;">
			<p style="margin: 0px;margin-top: 10px;font-weight: bold;"><i class="fa fa-graduation-cap"></i> Sources <br/>
			<hr style="border: 1.5px solid var(--maincolor);margin:5px 0px;"/>
			</p>
			<ul style="text-align: left">
				<% @blog_post.references.each do |ref| %>
					<li><%= link_to ref.label, ref.link %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>

<div class="col-xs-8" style="padding: 15px;border-left: 2px solid var(--lines);font-size: 1.2rem;">
	<p><%= raw(@blog_post.content) %></p>
</div>
