
<tr class="<%= 'collapse collapsable_row' if cabinet.rank_last > 6 %>" >
	<%= content_tag(:td,cabinet.rating, id: "rating_" << cabinet.id.to_s ) %>
	<td>
		<% if !cabinet.rank_change.nil? && cabinet.rank_change != 0 && cabinet.rank_change_time > 1.hour.ago %>
			<% if cabinet.rank_change == 1 %>
				<%= content_tag :i, "", class: "fa fa-caret-up", style: "color: #68B166" %>
			<% else %>
				<%= content_tag :i, "", class: "fa fa-caret-down", style: "color: #DF990A" %>
			<% end %>
		<% end %>
		<%= cabinet.s_name %>
	</td>
	<td id="vote_up_<%= cabinet.id.to_s %>">
		<% if !session[:a_vote_up] %>
			<i class= "btn btn_classement_up btn-xs" id= "<%= cabinet.id.to_s %>"> 
				<%=content_tag :i,"", class: "fa fa-arrow-circle-up "%> 
			</i>
		<% else %>
			<%=content_tag :i,"", class: "glyphicon glyphicon-ok a_vote_up" if cabinet.id == session[:a_vote_up] %>
		<% end %>
	</td>
	<td id="vote_down_<%= cabinet.id.to_s %>">
		<% if !session[:a_vote_down] %>
			<i class= "btn btn_classement_down btn-xs" id= "<%= cabinet.id.to_s %>"> 
				<%=content_tag :i,"", class: "fa fa-arrow-circle-down "%> 
			</i>
		<% else %>
			<%=content_tag :i,"", class: "glyphicon glyphicon-ok a_vote_down" if cabinet.id == session[:a_vote_down] %>
		<% end %>
	</td>
</tr>