<div class="thumbnail" style="padding: 10px 0px 0px 0px;">
	<% flash.each do |name, msg| %>
		<%= alert_box msg, dismissible: :true %>
	<% end %>
	Quel cabinet monte ? Lequel descend ? Votez !
	<hr/>
		<table class="table" id="classement">
			<col width="20%">
			<col width="50%">
			<col width="15%">
			<col width="15%">
			<tr>
				<th>Points</th>
				<th>Cabinet</th>
				<th colspan="2" style="text-align: center;"">Votez!</th>
			</tr>
			<% Cabinet.all.sort_by{|cab| cab[:rating]}.reverse!.each do |cabinet| %>
			<tr>
				<td><%= cabinet.rating %></td>
				<td><%= cabinet.s_name %></td>
				<td><%= link_to content_tag(:i,"", class: "fa fa-arrow-circle-up "),up_cabinet_path(cabinet.id), class: "btn btn-default btn-xs", id: "btn_classement_up", remote: true %>
				</td>
				<td><%= link_to content_tag(:i,"",class: "fa fa-arrow-circle-down"), down_cabinet_path(cabinet.id), class: "btn btn-default btn-xs", id: "btn_classement_down", remote: true %></td>
			</tr>
			<% end %>
		</table>
</div>

