<!DOCTYPE html>
<html>
  <head>
    <title><%= "AE - " << @title.to_s || "Audit Expresso" %></title>
    <link rel="icon" href="<%= asset_path('AE.png') %>">
    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag bootstrap_css %>
	<%= stylesheet_link_tag font_awesome_css %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-88937626-1', 'auto');
  ga('send', 'pageview');
  </script>
  <%= yield :head %>
  </head>

  <body>
  
  <%= render "video_modal" unless @disable_pub  %>

  <%= render "navbar" %>

  <div class="container" >
    
    <div class="col-sm-4 col-md-3 hidden-xs" id="sidebar">
      <%= render "sidebar" %>
    </div>

    <div class="col-sm-8 col-md-9 col-xs-12" id="display_div">

      <%= yield %>

    </div>

  </div>
    
    <%= render "footer" %>

  </body>
</html>
