<!DOCTYPE html>
<html>
  <head>
    <title><%= "NLC - " << @title || "Nous les Cac" %></title>
    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag bootstrap_css %>
	<%= stylesheet_link_tag font_awesome_css %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "navbar" %>
    <div class="container">


        <div class="col-md-3 hidden-sm hidden-xs">
        <%= render "sidebar" %>
        </div>

        <div class="col-md-9 col-xs-12 col-sm-12" id="display_div">
          <%= yield %>
        </div>

    </div>
  
    <%= render "footer" %>

    <%= javascript_include_tag bootstrap_js %>
  </body>
</html>
