<!DOCTYPE html>
<html>
  <head>
    <title><%= "AE - " << @title.to_s || "Audit Expresso" %></title>
    <%= csrf_meta_tags %>
	<%= stylesheet_link_tag bootstrap_css %>
	<%= stylesheet_link_tag font_awesome_css %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "scrollspy" %>
  </head>

  <body>
    
    <%= render "application/navbar" %>
    <%= render "video_modal" %>
    <div class="container">

      <%= yield %>
    </div>
    
    <div id="in_text_donate">
      Informé ? Diverti ? Un petit <span class="donatecolor"><b>pourboire</b></span> ? <i class="fa fa-smile-o"></i>
      
      <button type="button" class="close" id="close_in_text_donate" >&times;</button>
      
      <button class="btn btn-sm" id="button_donate" data-toggle="modal" data-target="#video_modal">
      <%= content_tag(:i,"",class:"fa fa-play-circle") %>
      Donner 30 secondes
    </button>
    </div>

    <%= render "application/footer" %>
    
  </body>
</html>